
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0 0 15%;

}

.menu{
    display: flex;
    gap: 70px;
}

.titulo-destaque{
    color: #b0b4f3;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.apresentacao-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    /*height: ;*/
}

.apresentacao-titulo {
    font-size: 36px;
    font-family:'Krona One', sans-serif;

}
.apresentacao-texto {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}


.image {
   max-width: 150%;
   align-self: center;
   opacity:0.5;
   /*border-radius: 50px;*/
    
}
.image:hover {
    opacity:1;
    transform: scale(1.1, 1.1);
}
.imagem {
    max-width: 150%;
    align-self: center;
    opacity:0.5;
    border-radius: 80px;
     
 }
 .imagem:hover {
     opacity:1;
     transform: scale(1.1, 1.1);
 }

.rodape{
    padding: 24px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    background-color: #b0b4f3;
}